span {
    color: #1fa5bc;
}

h5 {
    margin: 0;
}

.school-container {
    border: 1px solid rgba(128, 128, 128, 0.300);
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    margin: 50px 0 50px 0;
    padding: 10px;
}

.iden {
    text-align: right;
}

.end {
    text-align: start;
    border-left: 2px solid black;
}

button {
    width: 20%;
    text-align: end;
    color: white;
}

.dropend img {
    /* border: 1px solid green; */
    width: 32px;
    margin-right: 10px;
}

.dropdown-menu {
    background-color: black;
}

.link {
    /* border: 1px solid red; */
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.link:hover {
    color: grey;
}

.classrooms-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.classrooms-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}

.classroom {
    height: 60px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.classroom:hover {
    background-color: grey;
}

.inf {
    height: 60px;
    width: 100%;
    background-color: #e94e1b;
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fund-1 {
    height: 60px;
    width: 100%;
    background-color: #f8b037;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fund-2 {
    height: 60px;
    width: 100%;
    background-color: #2daae0;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.med {
    height: 60px;
    width: 100%;
    background-color: #1fa5bc;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}