@media(min-width: 768px) {
    .school-container {
        border: 1px solid rgba(128, 128, 128, 0.300);
        border-radius: 20px;
        background-color: rgb(235, 235, 235);
        display: flex;
        align-items: center;
        margin: 50px 0;
        padding: 10px;
    }

    .iden {
        text-align: right;
        width: 50%;
        border-right: 2px solid black;
    }

    .end {
        width: 50%;
        text-align: start;
    }

    .classroom-container {
        margin-bottom: 50px;
    }

    .classrooms-desktop {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .classrooms-mobile {
        display: none;
    }

    .classrooms-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

    }

    .classroom {
        height: 60px;
        width: 100%;
        border: 1px solid grey;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .classroom:hover {
        background-color: rgb(235, 235, 235);
    }


    .year-title {
        height: 60px;
        width: 100%;
        border-radius: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 20%;
        text-align: end;
        color: white;
    }
}

@media(max-width: 767px) {
    .iden h3 {
        font-size: 20px;
    }

    .school-container {
        padding: 20px 0;
        margin: 0 5px;
    }

    .end {
        text-align: start;
    }

    .btns-container {
        padding-bottom: 20px;
        margin: 0 15px;
    }

    button {
        width: 50%;
        text-align: end;
        color: white;
    }

    .classrooms-desktop {
        display: none;
    }

    .classrooms-info {
        margin: 0 10px 10px;
    }

    .classroom a:hover {
        color: grey;
    }

    .year-title {
        border-radius: 5px;
        padding: 5px 0;
    }

    .year-title:hover {
        background-color: black;
    }

    .btn-collapse {
        background-color: transparent;
        border: 0px;
        text-align: center;
        width: 100%;
    }
}

span {
    color: #1fa5bc;
}

h5 {
    margin: 0;
    text-align: center;
}

p {
    margin: 0;
}

.classroom a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropend img {
    width: 32px;
    margin-right: 10px;
}

.dropdown-menu {
    background-color: black;
}

.link {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.link:hover {
    color: grey;
}