@media(min-width: 768px) {
    .street {
        width: 80%;
    }

    .street-number {
        width: 20%;
        margin-left: 10px;
    }
}

@media(max-width: 768px) {
    .street {
        width: 70%;
    }

    .street-number {
        width: 30%;
        margin-left: 10px;
    }

    .city {
        width: 40%;
        margin-left: 10px;
    }
}

.iden-container {
    margin: 20px 10px;
}

.end-container {
    margin: 20px 10px;
}

.neighborhood {
    width: 60%;
}

.city {
    width: 40%;
    margin-left: 10px;
}

.state {
    width: 60%;
}

.zip-code {
    width: 40%;
    margin-left: 10px;
}