header {
    background-color: rgb(235, 235, 235);
}

.step-logo a {
    display: flex;
}

@media(min-width: 576px) {
    .step-logo img {
        margin: 30px;
        width: 200px;
    }
}
@media(max-width: 575px) {
    .step-logo img {
        margin: 30px;
        width: 130px;
    }
}