<h1 class="pt-5">Lista de escolas</h1>

<div class="list-container">

    <div class="search-container">
        <form>
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text" placeholder="Pesquisar" (input)="search($event)">
        </form>
    </div>

    <div *ngIf="schools.length > 0; else noSchools" class="schools-container">
        <div class="school" *ngFor="let school of schools">
            <h1 class="m-0"><a routerLink="/school/{{ school.id }}">{{ school.nomeescola }}</a></h1>
        </div>
    </div>

    <ng-template #noSchools>
        <h1>Não há escolas cadastradas!</h1>
    </ng-template>

</div>