<h1 class="pt-5">CADASTRO DE TURMA</h1>

<form (ngSubmit)="submit()" [formGroup]="classroomForm" #formDir="ngForm" class="pb-5">

    <!-- --------------------------------------------------------------- -->

    <div class="form-group" *ngIf="teachers.length > 0; else noTeachers">
        <label for="professor">Professor responsável:</label>
        <select formControlName="professor">
            <option selected value="">Selecione um professor</option>
            <option *ngFor="let teacher of teachers" value="{{ teacher.email }}">
                <div *ngIf="teacher.schools_id == school?.id">{{ teacher.email }}</div>
            </option>
        </select>
    </div>
    <ng-template #noTeachers class="classrooms-container-mob">
        <select>
            <option selected>Não há professores cadastrados!</option>
        </select>
    </ng-template>

    <!-- --------------------------------------------------------------- -->

    <div class="form-group">
        <label for="numeroalunos">Número de alunos:</label>
        <input type="text" placeholder="Número de alunos" formControlName="numeroalunos" required>
        <div *ngIf="numeroalunos.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="numeroalunos.errors?.['required']">O número de alunos é obrigatório</p>
        </div>
    </div>

    <div class="form-group">
        <label for="ano">Nível escolar:</label>
        <select formControlName="ano" required>
            <option selected>Infantil</option>
            <option>Fundamental 1</option>
            <option>Fundamental 2</option>
            <option>Ensino Médio</option>
        </select>
        <div *ngIf="ano.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="ano.errors?.['required']">O ano é obrigatório</p>
        </div>
    </div>

    <div class="form-group">
        <label for="turma">Turma:</label>
        <input type="text" placeholder="Turma" formControlName="turma" required>
        <div *ngIf="turma.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="turma.errors?.['required']">O número de alunos é obrigatório</p>
        </div>
    </div>

    <div class="form-group">
        <label for="periodo">Período da aula:</label>
        <select formControlName="periodo" required>
            <option selected>Manhã</option>
            <option>Tarde</option>
        </select>
        <div *ngIf="periodo.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="periodo.errors?.['required']">O período é obrigatório</p>
        </div>
    </div>

    <div class="form-group">
        <label for="dia">Dia da aula:</label>
        <select formControlName="dia" required>
            <option selected>Segunda-feira</option>
            <option>Terça-feira</option>
            <option>Quarta-feira</option>
            <option>Quinta-feira</option>
            <option>Sexta-feira</option>
        </select>
        <div *ngIf="dia.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="dia.errors?.['required']">O dia é obrigatório</p>
        </div>
    </div>

    <div class="btn-register">
        <input type="submit" value="{{ btnText }}">
    </div>

</form>