<h1>Realize seu login!</h1>

<div class="login-container">

    <!-- <div class="col-6 w-100">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div> -->

    <!-- <form (submit)="login()">
        <input type="text" [(ngModel)]="email" placeholder="Email">
        <input type="password" [(ngModel)]="senha" placeholder="Senha">
        <button type="submit">Login</button>
    </form>

    <div *ngIf="isLoggedIn">
        <p>Você está logado!</p>
    </div> -->

</div>