<h1 class="pt-5">CADASTRO</h1>

<form (ngSubmit)="submit()" [formGroup]="userForm" #formDir="ngForm" class="user-form">

    <div class="form-container">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" placeholder="Digite o email do usuário" formControlName="email" required>
            <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
                <p *ngIf="email.errors?.['required']">O email é obrigatório!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" placeholder="Defina a senha do usuário" formControlName="senha" required>
            <div *ngIf="senha.invalid && formDir.submitted" class="validation-error">
                <p *ngIf="senha.errors?.['required']">A senha é obrigatória!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select formControlName="tipo" required>
                <option selected value="">Selecione o tipo de usuário</option>
                <option>Diretoria</option>
                <option>Step</option>
            </select>
            <div *ngIf="tipo.invalid && formDir.submitted" class="validation-error">
                <p *ngIf="tipo.errors?.['required']">A tipo de usuário é obrigatória!</p>
            </div>
        </div>

        <div class="btn-register">
            <input type="submit" value="{{ btnText }}">
        </div>
    </div>

</form>