@media(min-width: 768px) {
    .nav-container-mobile {
        display: none;
    }

    .nav-container-desktop {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    button {
        width: 80%;
        text-align: end;
        color: white;
    }

    .image-container {
        width: 60%;
        text-align: center;
    }

    .image-container img {
        width: 400px;
        padding: 20px;
    }
}

@media(max-width: 767px) {
    .nav-container-desktop {
        display: none;
    }

    .nav-container-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dropend {
        display: flex;
        justify-content: center;
    }

    button {
        width: 80%;
        text-align: center;
        color: white;
    }

    .btn-nav {
        margin: 0 10px 10px;
    }

    ul a {
        color: black;
    }

    .ul a:hover {
        color: grey;
    }

    .year-title {
        border-radius: 5px;
        padding: 5px 0;
    }

    .year-title:hover {
        background-color: black;
    }

    .btn-collapse {
        background-color: transparent;
        border: 0px;
        text-align: center;
        width: 100%;
    }
}

img {
    width: 32px;
    margin-right: 10px;
}

.dropdown-menu {
    background-color: black;
}

.link {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.link:hover {
    color: grey;
}